@model IEnumerable<tugasAlMiraj.Models.areaModel>

@{
    ViewBag.Title = "Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var area = ViewBag.Model as tugasAlMiraj.Models.areaModel;
}

<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#FormModalArea">Add New</a>
<div class="modal fade" id="FormModalArea">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title center-block">Add New</h3>
            </div>

            <div class="modal-body">
                <form action="#" id="FormData" method="post">
                    <label>Name</label>
                    @Html.TextBoxFor(model => area.name, new { @class = "form-control", placeholder = "Name", @id="txtName" })
                    <label>Description</label>
                    @Html.TextBoxFor(model => area.description, new { @class = "form-control", placeholder = "Description", @id="txtDescription" })
                </form>
            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="btn_add" onclick="SaveData()">Add New</a>
                <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>

</div>

<table class="table table-bordered table-striped table-hover">
    <tr class="btn-primary">
    <thead>

        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>

    </tbody>
</table>

@section scripts
{
    <script>
        function SaveData() {
            var areaModel = {
                name: $("#txtName").val(),
                description: $("#txtDescription").val()
            }

            swal({
                title: "Save data?",
                text: "Are you sure want to save data?",
                buttons: {
                    save: {
                        text: "Save!",
                        value: "save",
                    },
                    cancel: "No, Cancel",
                },
            }).then(function (value) {
                switch (value) {
                    case "save":
                        $.ajax({
                            async: true,
                            type: 'POST',
                            url: '/Area/SaveData',
                            data: JSON.stringify(areaModel),
                            dataType: 'JSON',
                            contentType: 'aplication/json; charset=utf-8',
                            success: function (data) {
                                if (data.success) {
                                    $('#FormModalArea').modal('hide');
                                    location.reload();
                                    swal("Success!", "Save Data Successfully!", "success")
                                }
                                else {
                                    swal("Error!", "Failed To Save Data!", "error");

                                    if (!$('#FormData').valid()) {
                                        return false;
                                    }
                                }
                            },
                            error: function () {
                                alert('There is some problem!')
                            }
                        });
                }
            });
        }
    </script>
}