@model tugasAlMiraj.Models.masterModel.areaModel

@{
    ViewBag.Title = "Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var area = ViewBag.Model as tugasAlMiraj.Models.masterModel.areaModel;
}

<script src="~/js/jquery-2.1.4.min.js"></script>

<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#FormModalArea">Add New</a>
<div class="modal fade" id="FormModalArea">
    <div class="modal-dialog" id="haha">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title center-block">Add New</h3>
            </div>

            <div class="modal-body">
                <form action="#" id="FormData" method="post">
                    <label>Name</label>
                    @Html.TextBoxFor(model => model.name, new { @class = "form-control", placeholder = "Name", @type = "text", @id = "txtName" })
                    <label>Description</label>
                    @Html.TextBoxFor(model => model.description, new { @class = "form-control", placeholder = "Description", @type = "text", @id = "txtDescription" })
                </form>
            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="btn_add" onclick="saveData()">Add New</a>
                <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>

</div>

<table class="table table-bordered table-striped table-hover">
    <tr class="btn-primary">
    <thead>

        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>

        function saveData() {
            var DataForm = $("#FormData").serialize();

            swal({
                title: "Save data?",
                text: "Are you sure want to save data?",
                buttons: {
                    save: {
                        text: "Save!",
                        value: "save",
                    },
                    cancel: "No, Cancel",
                },
            }).then(function (value) {
                switch (value) {
                    case "save":
                        $.ajax({
                            type: "POST",
                            url: "/Area/Create",
                            data: DataForm,
                            success: function (data) {
                                if (data.Success) {
                                    $('#FormModalArea').modal('hide');
                                    location.reload();
                                    swal("Success!", "Save data sucessfully!", "success");
                                }
                                else {
                                    swal("Error!", "Failed to save data!", "error");
                                    if (!$("#inputan").valid()) {
                                        return false;
                                    }
                                }
                            },
                            error: function () {
                                alert('There is some problem to add update.');
                            }
                        });
                }
            });
            return true;
        }

    </script>
}